.custom-container{
    width: 50%;
    margin: 100px auto;
    border: 1px solid gainsboro;
    height: 500px;
}
h1,h4{
    text-align: center;
}

.custom-center{
    width: 50%;
    margin: 25px auto;
}
img{
    width: 100%;
}
input{
    width: 100%;
}